{
	"useTabs": true,
	"tabWidth": 4,
	"printWidth": 100,
	"singleQuote": true,
	"semi": false,
	"trailingComma": "all",
	"arrowParens": "avoid",
	"bracketSpacing": true,
	"bracketSameLine": false,
	"proseWrap": "preserve",
	"htmlWhitespaceSensitivity": "css",
	"endOfLine": "lf",
	"singleAttributePerLine": true
}
